:root{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;    
    --background-color: #000;
    --text-color: #f5f5f7;
    --link-color: #2997ff;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    color: var(--text-color);
}

.content{
    display: block;
    margin: 50px;
}

h1 {
    color: var(--text-color);
    font-size: 3em;
}

p {
    color: var(--text-color);
    opacity: .7;
    font-size: 1.5em;
    font-weight: 400;
    max-width: 75%;
    margin: auto;
    margin-top: 10px;

}

.linkedin {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    color: var(--link-color);
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none;
}

.linkedinLink{
    width: fit-content;
    display: block;
    margin-right: 5px;
}

.linkedinLink::after{
    content: '';
    display: block;
    position: relative;
    background-color: var(--link-color);
    height: 2px;
    width: 0;
    border-radius: 5px;
    transition: .3s;
}

.linkedinLink:hover::after{
    width: 100%;
}

.blink{
    animation: blink 1s cubic-bezier(.5,0,.5,1) infinite;
    color: var(--link-color);
    font-size: 19px;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}